$bg_primary: #061116;
$bg_secondary: #12181f;
// $bg_secondary: #3B434C;

$primary: #2036a1;
$secondary: #5019a4;
$highlight: #32e6e2;
$border: #303644;

$main: #ffffff;

$error: #f44336;
$success: #66bb6a;