@import "../../global.scss";

.create__card{
  padding: 16px; 
  background-color: $bg_secondary;
  border: solid 1px $border;
  border-radius: 12px;
  gap: 20px;

  margin-top: 20px;

  color: $main;
}
